h1{
  text-align: center;
  background-color: #796877;
  padding: 20px;
}
#wordContainer{
  display: flex;
  gap: 10px;
}
.dragingDiv {
  background-color: #17c385;
  padding: 5px;
  border: 2px solid rgb(243, 5, 5);
  text-align: center;
}

.category{
  display: inline-block;
  text-align: center;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin-top: 10px;
}

.categoryHeading{
  background-color: #d46611;
  padding: 10px;
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}
